@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.responsive {
    max-width: 1200px;
    margin: 0 auto;
}
body {
    font-family: 'Press Start 2P', system-ui;
    background-color: #0f0f0f;
    }

.headerJuegos {
    background-image: url('../imagenes/fondoJuegos.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items:  center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    }

.headerJuegos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* negro semi-transparente */
    z-index: 1;
    }

.contenidoJuegos {
    position: relative; /* para estar por encima del overlay */
    z-index: 2;
    }

.menuJuegos {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content:  space-between;
    z-index: 1000;
    background-color: #0f0f0f;
    border-bottom: 1px solid white;
    display: flex;
    }

.logo {
    color: #F02D3A;
    font-size: 25px;
    font-weight: 800;
    }

.menuJuegos .navJuegos ul li {
    position: relative;
    float: right;
    }

.menuJuegos .navJuegos ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    }

.menuJuegos .navJuegos ul li a:hover{
    color: #F02D3A;
    }

#menu-bar {
    display: none;
    }
.menu-icono{
    width: 25px;
    }

.menuJuegos label{
    display: none;
    cursor: pointer;
    }

.contenidoJuegos h1{
    color: #F02D3A;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
    }

.contenidoJuegos p{
    color: #FDCA40;
    font-size: 24px;
    text-transform: capitalize;
    margin-bottom: 35px;
    }

.btn-1{
    display: inline-block;
    padding: 10px 35px;
    border-radius: 10px;
    background-color: #F02D3A; 
    font-size: 22px;
    color: white;
    text-transform: uppercase;  
    }   


.informacionJuegos {
    background-color: rgba(0, 0, 0, 0.6); /* negro con transparencia */
    color: #fff;
    padding: 25px;
    border-radius: 15px;
    width: 40%;
    max-width: 500px;
    font-family: 'Press Start 2P', system-ui;
    font-size: 15px;
    line-height: 1.6;
    backdrop-filter: blur(4px);  /* efecto vidrio borroso */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: left;
    }

/* Estilo del título dentro de <summary> */
.tituloJuegos {
    font-size: 22px;
    font-weight: bold;
    color: #FFCC00;
    cursor: pointer;
    margin-bottom: 10px;
    }

/* Párrafo dentro de <details> */
.informacionJuegos p {
    margin-top: 10px;
    color: #f0f0f0;
    }

/* Efecto hover para hacerlo más vistoso */
.informacionJuegos:hover {
    transform: scale(1.03);
    transition: 0.4s ease;
    }
.btn-Steam {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(23, 26, 33, 0.8);
    color: #fff;
    padding: 12px 20px;           
    font-size: 14px;             
    font-family: 'Press Start 2P', system-ui;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    gap: 6px;                    
    transition: transform 0.3s, background-color 0.3s;
    z-index: 10;
    }
.btn-Steam img.icono {
    width: 20px;                  
    height: 20px;
    object-fit: contain;          
    }   
footer {
    text-align: center;
    padding: 20px;
    background-color: #0f0f0f;
    color: white;
    font-size: 14px;
    border-top: 1px solid white;
    margin-top: 40px;
    }

/* ===== SECCIÓN MINECRAFT ===== */
.minecraft {
    background-image: url('../imagenes/minecraftGIF1.gif');
    }

/* ===== SECCIÓN POKEMMO ===== */
.pokemmo {
    background-image: url('../imagenes/pokemmoGIF1.gif');
    }

   /* ===== SECCIÓN TERRARIA ===== */
.terraria {
    background-image: url('../imagenes/terrariaGIF2.gif');
    }

    /* ===== SECCIÓN UNDERTALE ===== */
.undertale{
    background-image: url('../imagenes/undertale1.jpg');
    }


.seccion-juegos {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 80px 20px;
    position: relative;
    overflow: hidden;
    padding-left: 60px;
    }

